.page3 {
    background: linear-gradient(to bottom, #f9b43b 0%, #eb8c38 50%, #f9b43b 100%);
}

.page3__container {
    flex-direction: row;
    justify-content: space-between;
}

.scroll {
    width: 6%;
    height: 100%;
    @include tablets {
        width: 15%;
    }
}

.scroll-link__left,
.scroll-link__right {
    display: flex;
    height: 100%;
    width: 100%;
}

.scroll-link__left {
    justify-content: flex-end;
}

.burgers {
    height: 100%;
    width: 88%;
    display: flex;
    overflow: hidden;
    align-items: center;
    @include tablets {
        width: 70%;
    }
}

.burgers__list {
    width: 100%;
}

.burgers__item {
    position: relative;
    height: 100%;
    width: 100%;
}

.burgers__info {
    position: absolute;
    left: rem(16px);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include tablets {
        bottom: initial;
        height: auto;
        left: 0;
        width: 100%;
        min-width: 30%;
        flex-direction: row;
    }
}

.burgers__ingr {
    display: flex;
    flex-direction: row;
    position: relative;
}

.burgers__ingr-btn {
    height: rem(90px);
    width: rem(90px);
    border-radius: rem(5px);
    background: #f08c33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gagalin';
    font-size: rem(14px);
    color: #ffffff;
    cursor: pointer;
    &:hover+.burgers__ingr-drop {
        opacity: 1;
        transition: opacity 0.5s;
        left: 100%;
    }
}

.burgers__ingr-drop {
    position: absolute;
    display: flex;
    border-radius: rem(5px);
    background: rgba(#ffffff, 0.9);
    padding: rem(15px) rem(23px);
    opacity: 0;
    transition: opacity 0.5s;
    left: 9999px;
    cursor: auto;
    &:before {
        display: block;
        position: absolute;
        left: -10%;
        top: 0;
        content: "";
        height: 50%;
        width: 10%;
    }
    &:hover {
        opacity: 1;
        transition: opacity 0.5s;
        left: 100%;
    }
    @include phones {
        width: 60vw;
    }
}

.burgers__drop-close {
    display: none;
    margin-left: rem(20px);
    cursor: pointer;
    @include tablets {
        display: inline-block;
    }
}

.burgers__ccal {
    color: #ffffff;
    font-family: 'Gagalin';
    opacity: 0.5;
}

.burgers-ccal__value {
    position: relative;
    bottom: rem(37px);
    font-size: rem(20px);
}

.burgers-ccal__desc {
    position: relative;
    bottom: rem(29px);
    font-size: rem(14px);
}

.burgers__ingr-item {
    display: flex;
    align-items: center;
    width: rem(225px);
    min-height: rem(50px);
    font-size: rem(14px);
    @include phones {
        width: 40vw;
    }
}

.burgers__ingr-icon {
    width: 30%;
    text-align: left;
}

.burgers__ingr-name {
    width: 50%;
    text-align: left;
}

.burgers__ingr-weight {
    width: 20%;
    text-align: right;
}

.burgers__content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    @include tablets {
        flex-direction: column;
    }
    @include phones {
        margin-top: 10%;
    }
}

.burgers__left,
.burgers__right {
    display: flex;
    width: 50%;
    @include tablets {
        width: 100%;
        justify-content: center;
    }
}

.burgers__img {
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.burgers__right {
    flex-direction: column;
    text-align: left;
    padding: 0 rem(10px);
    @include tablets {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

.title--3 {
    color: #ffffff;
    white-space: initial;
    line-height: 0.9em;
    margin-top: 0;
    margin-bottom: rem(38px);
    @include tablets {
        margin-bottom: rem(18px);
    }
}

.burgers__text {
    color: #ffffff;
    font-size: rem(14px);
    line-height: 1.75em;
    margin-bottom: rem(10px);
    @include tablets {
        margin-bottom: 0;
    }
}

.burgers__order {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.burgers__price {
    margin-right: rem(27px);
    font-family: 'Gagalin';
    font-size: rem(72px);
    color: $orange;
    @include phones {
        font-size: rem(50px);
        margin-right: rem(20px);
    }
}

.burger__currency {
    font-size: rem(30px);
    @include phones {
        font-size: rem(17px);
    }
}