.page1 {
    background-image: url('../image/page1/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.page1__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: rem(10px);
}

.header__logo {
    padding-left: 7%;
    padding-top: rem(2px);
}

.header__nav {
    margin-top: rem(23px);
    width: 100%;
    @include tablets {
        display: none;
    }
}

.nav__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__item {
    white-space: nowrap;
    &:last-child {
        margin-right: 0;
        &:after {
            display: none;
        }
    }
    &:after {
        display: inline-flex;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #ffffff;
        margin: 0 1vw;
    }
}

.nav__link {
    color: #ffffff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}

.header__btn {
    margin-right: 7%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    @include tablets {
        margin-right: 10%;
    }
}

.welcome {
    display: flex;
}

.welcome__content {
    display: flex;
    flex: 1;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.welcome__left,
.welcome__right {
    float: left;
    width: 50%;
    padding: 0 1%;
    @include tablets() {
        float: none;
    }
}

.welcome__left {
    text-align: right;
    align-items: center;
    @include tablets {
        text-align: center;
        width: 43vw;
    }
    @include phones {
        width: 64vw;
    }
}

.welcome__burger {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.welcome__right {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-top: rem(30px);
    @include tablets() {
        text-align: center;
        padding-top: 0;
        width: auto;
    }
}

.title {
    font-family: 'Gagalin';
    font-size: rem(72px);
    text-transform: uppercase;
    white-space: nowrap;
    color: #f9b43b;
    margin-top: rem(25px);
    @include tablets() {
        font-size: 8vw;
    }
    @include phones {
        font-size: 12vw;
    }
}

.welcome__text {
    font-family: 'Lifehack';
    font-size: rem(65px);
    color: #ffffff;
    line-height: 0.95em;
    margin-top: rem(14px);
    @include tablets() {
        font-size: 6.5vw;
        margin-top: 0;
    }
    @include phones {
        font-size: 10vw;
    }
}

.page1__link {
    display: block;
    width: 100vw;
    height: rem(64px);
    text-align: center;
}