.page6__container {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.reviews {
    height: 100%;
}

.reviews__list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    color: #ffffff;
}

.reviews__item {
    width: 25%;
    height: 50%;
    @include tablets {
        width: 50%;
        height: 25%;
    }
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    &:nth-child(1) {
        background-image: url('../image/page6/foto8.jpg');
    }
    &:nth-child(2) {
        background-image: url('../image/page6/foto6.jpg');
    }
    &:nth-child(3) {
        background-image: url('../image/page6/foto4.jpg');
    }
    &:nth-child(4) {
        background-image: url('../image/page6/foto2.jpg');
    }
    &:nth-child(5) {
        background-image: url('../image/page6/foto7.jpg');
    }
    &:nth-child(6) {
        background-image: url('../image/page6/foto5.jpg');
    }
    &:nth-child(7) {
        background-image: url('../image/page6/foto3.jpg');
    }
    &:nth-child(8) {
        background-image: url('../image/page6/foto1.jpg');
    }
    &:hover .rewiews__hover {
        opacity: 1;
    }
}

.rewiews__hover {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    text-align: left;
    padding: 0 8%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h3 {
        font-family: 'Gagalin';
        font-size: rem(14px);
        text-transform: uppercase;
        padding-top: 20%;
    }
    & p {
        font-family: 'Ubuntu';
        font-size: rem(14px);
        font-weight: lighter;
        padding-top: 8%;
        line-height: 1.75em;
    }
    @include tablets {
        padding: 0 9%;
        text-align: center;
        & h3 {
            font-size: 2.6vw;
            padding-top: 3%;
        }
        & p {
            font-size: 2.6vw;
            padding-top: 3%;
        }
    }
    @include phones {
        & h3 {
            font-size: rem(14px);
            margin-bottom: 10%;
        }
        & p {
            display: none;
        }
    }
}

.reviews__btn {
    padding-top: 7%;
    @include tablets {
        padding-top: 3%;
    }
}

.reviews__link {
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    background: #2f3234;
    color: #ffffff;
    font-size: rem(13px);
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    @include tablets {
        font-size: 2.6vw;
    }
}