.page4 {
    background-image: url('../image/page4/background.jpg');
    background-size: cover;
    position: relative;
}

.team {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 49.3%;
    height: 100%;
    background-color: rgba(#3e4042, 0.9);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 6%;
    @include tablets {
        width: 100%;
        padding: 0;
        align-items: center;
    }
}

.title4 {
    margin-top: 0;
}

.team__accordeon {
    margin-top: rem(59px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include tablets {
        align-items: center;
    }
}

.team__item {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    @include tablets {
        margin-bottom: 3%;
        align-items: center;
    }
}

.team__item--active {
    .team__name {
        color: #f9b43b;
        &:before {
            transform: rotate(-180deg);
        }
    }
}

.team__name {
    font-family: 'Gagalin';
    font-size: rem(14px);
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    position: relative;
    padding-left: rem(19px);
    @include tablets {
        font-size: rem(25px);
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        content: "";
        height: 0;
        width: 0;
        border: rem(5px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: rem(0px);
    }
}

.team__content {
    display: flex;
    margin-top: rem(13px);
    margin-bottom: 2%;
    height: 0;
    overflow: hidden;
    transition: .5s;
    @include tablets {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
    }
}

.team__img {
    height: rem(100px);
    min-width: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 rem(17px);
}

.team__avatar {
    height: rem(100px);
    position: absolute;
    top: 0;
    left: rem(-20px);
    bottom: 0;
    right: 0;
    margin: auto;
}

.team__about {
    padding-left: rem(5px);
    max-width: 40%;
    @include tablets {
        max-width: 75%;
    }
}

.team__title {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: rem(14px);
    margin-bottom: rem(10px);
    @include tablets {
        text-align: center;
    }
}

.team__text {
    font-family: 'Ubuntu';
    font-weight: lighter;
    font-size: rem(14px);
    line-height: 1.7;
    @include tablets {
        text-align: center;
    }
}