.page2 {
    background-image: url('../image/page2/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.title--2 {
    color: #2f3234;
    text-align: center;
    margin-top: 49px;
}

.content {
    padding: 0 69px;
    margin-top: 68px;
}

.content__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content__item {
    width: 321px;
}

.content__pic {
    min-height: 120px;
}

.content__item h3 {
    display: inline-block;
    font-family: 'lifehack';
    font-size: 24px;
    line-height: 1.2em;
    width: 300px;
}

.content__item p {
    display: inline-block;
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.7em;
    margin-top: 13px;
    width: 300px;
}