.page1 {
    background-image: url('../image/page1/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.page1__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: rem(10px);
}

.header__logo {
    padding-left: rem(77px);
    padding-top: rem(2px);
    margin-right: rem(215px);
}

.header__nav {
    margin-top: rem(20px);
    margin-right: rem(0px);
    width: 100%;
    @include tablets {
        display: none;
    }
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        @include circle(rem(4px),
        #fff);
        margin: 0 rem(12px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: #ffffff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
    }
}

.header__btn {
    margin-top: rem(23px);
    margin-right: rem(80px);
}

.welcome {
    width: 100%;
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20%;
    }
}

.welcome__left {
    position: relative;
}

.welcome__burger {
    margin-left: rem(132px);
    margin-top: rem(-25px);
}

.welcom__drops {
    position: absolute;
    left: rem(97px);
    top: rem(-29px);
}

.welcome__right {
    text-align: left;
    margin-left: rem(15px);
}

.title {
    font-family: 'Gagalin';
    font-size: rem(72px);
    text-transform: uppercase;
    color: #f9b43b;
    margin-top: rem(25px);
}

.welcome__text {
    font-family: 'Lifehack';
    font-size: rem(65px);
    color: #ffffff;
    line-height: 0.95em;
    margin-top: rem(14px);
}

.page1__link {
    display: block;
    width: 100%;
    height: rem(64px);
    text-align: center;
}

.page1__triangle {
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    border-radius: rem(4px);
    border-left: rem(3px) solid #ffffff;
    border-bottom: rem(3px) solid #ffffff;
    transform: rotate(-45deg);
}

.pages__nav {
    position: fixed;
    right: rem(179px);
    top: rem(96px);
}

.pages__link {
    display: block;
    position: relative;
    background: #ffffff;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    margin-bottom: rem(15px);
    &:hover {
        &:before {
            opacity: 1;
        }
    }
    &:active {
        &:before {
            opacity: 1;
        }
    }
}

.pages__link:before {
    content: "";
    display: block;
    position: absolute;
    width: rem(16px);
    height: rem(16px);
    left: rem(-5px);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    border: rem(1px) solid #ffffff;
    opacity: 0;
}