.page6__container {
    background: #909090;
    height: 100%;
}

.reviews {
    height: 100%;
}

.reviews__list {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    color: #ffffff;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    &:nth-child(1) {
        background-image: url('../image/page6/foto8.jpg');
    }
    &:nth-child(2) {
        background-image: url('../image/page6/foto6.jpg');
    }
    &:nth-child(3) {
        background-image: url('../image/page6/foto4.jpg');
    }
    &:nth-child(4) {
        background-image: url('../image/page6/foto2.jpg');
    }
    &:nth-child(5) {
        background-image: url('../image/page6/foto7.jpg');
    }
    &:nth-child(6) {
        background-image: url('../image/page6/foto5.jpg');
    }
    &:nth-child(7) {
        background-image: url('../image/page6/foto3.jpg');
    }
    &:nth-child(8) {
        background-image: url('../image/page6/foto1.jpg');
    }
    &:hover .rewiews__hover {
        opacity: 1;
    }
}

.rewiews__hover {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    text-align: left;
    padding: 0 21px;
    & h3 {
        font-family: 'Gagalin';
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 45px;
    }
    & p {
        font-family: 'Ubuntu';
        font-size: 14px;
        font-weight: lighter;
        padding-top: 20px;
        line-height: 1.75em;
    }
}

.reviews__btn {
    margin-top: 17px;
}

.reviews__link {
    padding: 10px 15px;
    border-radius: 5px;
    background: #2f3234;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}