.page6__container {
    background: #909090;
    height: 100%;
}

.reviews {
    height: 100%;
}

.reviews__list {
    display: flex;
    height: 50%;
}

.reviews__item {
    height: 100%;
    &:nth-child(1) {
        background-image: url('../image/page6/foto1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(2) {
        background-image: url('../image/page6/foto2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(3) {
        background-image: url('../image/page6/foto3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(4) {
        background-image: url('../image/page6/foto4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.reviews__item--2 {
    &:nth-child(1) {
        background-image: url('../image/page6/foto5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(2) {
        background-image: url('../image/page6/foto6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(3) {
        background-image: url('../image/page6/foto7.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(4) {
        background-image: url('../image/page6/foto8.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}