.page2 {
    background-image: url('../image/page2/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.title--2 {
    color: #2f3234;
    text-align: center;
    margin-top: rem(49px);
}

.content {
    padding: 0 rem(69px);
    margin-top: rem(68px);
}

.content__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content__item {
    width: rem(321px);
}

.content__pic {
    min-height: rem(120px);
}

.content__item h3 {
    display: inline-block;
    font-family: 'Lifehack';
    font-size: rem(24px);
    line-height: 1.2em;
    width: rem(300px);
}

.content__item p {
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: lighter;
    line-height: 1.7em;
    margin-top: rem(13px);
    width: rem(300px);
}