.page2 {
    background-image: url('../image/page2/background.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.title--2 {
    width: 100%;
    color: #2f3234;
    text-align: center;
}

.content__list {
    margin-top: 6%;
    display: flex;
    @include phones {
        flex-direction: column;
    }
}

.content__item {
    padding: 0 1%;
    margin-bottom: rem(50px);
    display: flex;
    flex-direction: column;
    @include phones {
        flex-direction: row;
    }
}

.content__desc {
    width: 100%;
    text-align: left;
}

.content__pic {
    min-height: rem(120px);
    width: 90%;
}

.content__desc h3 {
    font-family: 'Lifehack';
    font-size: rem(24px);
    line-height: 1.2em;
    text-align: center;
    @include phones {
        text-align: left;
    }
}

.content__desc p {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: lighter;
    line-height: 1.7em;
    margin-top: rem(13px);
    text-align: center;
    @include phones {
        text-align: left;
    }
}