.page8 {
    background: url('../image/page8/background.jpg') center center no-repeat;
    background-size: cover;
}

.page8__container {
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

.map {
    width: 100%;
    overflow: hidden;
}

.map__img {
    min-height: 100%;
    min-width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu';
    font-weight: lighter;
    font-size: rem(14px);
    color: #ffffff;
    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.footer__section {
    display: flex;
}

.footer__section-left {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding: rem(20px) 0;
    padding-left: rem(80px);
    @include phones {
        text-align: center;
        padding-left: 0;
    }
}

.footer__phone-link {
    margin-left: rem(5px);
    font-weight: bold;
    color: $orange;
    text-decoration: none;
}

.footer__section-right {
    align-items: center;
    justify-content: flex-end;
    @include phones {
        justify-content: center;
    }
}

.socials {
    display: flex;
    align-items: center;
    margin-right: rem(83px);
    @include phones {
        margin-right: 0;
        justify-content: center;
        margin-bottom: rem(15px);
    }
}

.socials__item {
    margin-left: rem(20px);
}